In [1]:
import warnings
warnings.filterwarnings('ignore')
import glob
import os
import datetime
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np

from sklearn import preprocessing
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
from sklearn.model_selection import cross_validate
from sklearn.model_selection import TimeSeriesSplit
from sklearn.model_selection import GridSearchCV
from sklearn.linear_model import LinearRegression
from sklearn.ensemble import RandomForestClassifier

from xgboost import XGBClassifier
from xgboost import plot_importance

from sklearn.metrics import f1_score
from sklearn.metrics import mean_squared_error
from sklearn.metrics import accuracy_score
from sklearn import svm

import seaborn as sns; sns.set()

In [2]:
data_path = './data/'
df = pd.read_csv(data_path + 'samsung.csv')
df

            Date     Open     High      Low    Close     Adj Close    Volume
0     2017-05-12  45760.0  46160.0  45660.0  45820.0  39690.984375   9422900
1     2017-05-15  45620.0  46280.0  45620.0  46100.0  39933.535156   8001400
2     2017-05-16  46660.0  46800.0  46100.0  46380.0  40176.074219   8803750
3     2017-05-17  46120.0  46640.0  46100.0  46340.0  40141.417969   7424450
4     2017-05-18  45740.0  46000.0  45540.0  45940.0  39794.933594  11160350
...          ...      ...      ...      ...      ...           ...       ...
1221  2022-05-04  68000.0  68400.0  67500.0  67900.0  67900.000000  11505248
1222  2022-05-06  67000.0  67100.0  66500.0  66500.0  66500.000000  14356156
1223  2022-05-10  65900.0  66300.0  65300.0  65700.0  65700.000000  17235605
1224  2022-05-11  65500.0  66300.0  65200.0  65700.0  65700.000000  12330920
1225  2022-05-12  65200.0  65500.0  64900.0  64900.0  64900.000000  16205229

[1226 rows x 7 columns]

In [ ]:
# 기술 지표 만들기
def moving_avg(df, n):
    MA = pd.Series(df['Close'])

In [1]:
class Ticket:
    def __init__(self, price, number):
        self.number = number
        self.price = price

    def getNumber(self):
        return self.number
    
    def getPrice(self):
        return self.price

    def setPrice(self, price):
        self.price = price

    def __str__(self):
        result = f'입장권 번호: {self.number}\n가격: {self.price}'
        return result

In [15]:
class WalkupTicket(Ticket):
    def __init__(self, payCash, number, price):
        super().__init__(price, number)   # 상속받을 때는 부모 클래스를 의미하는 super() 사용하고, 어떤 인스턴스를 상속받을지 __init__ 인자로 결정
        self.payCash = payCash

    def getPrice(self):
        return self.price

    def getPayCash(self):
        if self.payCash == 'True':
            price = int(self.price * 1.05)
        else:
            price = self.price
        return price

    def __str__(self):
        result = f'현금결재: {self.payCash}\n가격: {self.price}\n번호: {self.number}'
        return result

In [16]:
class AdvanceTicket(Ticket):
    def __init__(self, price, number, advanceDays):
        super().__init__(price, number)
        self.advanceDays = advanceDays

    def getPrice(self):
        return self.price

    def getAdvanceDays(self):
        days = self.advanceDays

        if days <= 4:
            rate = 0
        elif days <= 9:
            rate = 0.1
        elif days <= 29:
            rate = 0.2
        else:
            rate = 0.5

        price = int(self.price * (1-rate))
        return price

    def __str__(self):
        result = f'번호: {self.number}\n사전 예약일수: {self.advanceDays}\n가격: {self.price}'
        return result

In [17]:
w1 = WalkupTicket('True', 2022, 10000)
print(w1)

현금결재: True
가격: 10000
번호: 2022