In [8]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

from sklearn.feature_extraction.text import CountVectorizer

In [2]:
df_train = pd.read_csv('./data/train.csv')
df_test = pd.read_csv('./data/test.csv')

print(f'train shape: {df_train.shape}')
print(f'test shape: {df_test.shape}')

train shape: (25000, 3)
test shape: (25000, 2)

In [3]:
df_train.head()

   id                                            reviews  target
0   0                                     조아요 처음구입 싸게햇어요       2
1   1  생각보다 잘 안돼요 매지 바른지 하루밖에 안됐는데ㅠㅠ 25천원가량 주고 사기 너무 ...       1
2   2  디자인은괜찮은데 상품이 금이가서 교환했는데 두번째받은상품도 까져있고 안쪽에 금이가져...       2
3   3  기전에 이 제품말고 이마트 트레이더스에서만 팔던 프리미엄 제품을 사용했었습니다. 샘...       2
4   4                                  튼튼하고 손목을 잘 받쳐주네요~       5

In [4]:
df_test.head()

   id                                            reviews
0   0                                     채소가 약간 시들어 있어요
1   1  발톱 두껍고 단단한 분들 써도 소용없어요 이 테이프 물렁거리고 힘이없어서 들어 올리...
2   2                           부들부들 좋네요 입어보고 시원하면 또 살게요
3   3      이런 1. 8 골드 주라니깐 파란개 오네 회사전화걸어도 받지도 않고 머하자는거임?
4   4       검수도 없이 보내구 불량 배송비 5000원 청구하네요 완전별로 별하나도 아까워요

## 데이콘 baseline 따라하기

In [5]:
df_train['target'].value_counts()

5    10000
2     8000
1     4500
4     2500
Name: target, dtype: int64

In [7]:
train_x = df_train['reviews']
train_y = df_train['target']

In [9]:
sample_vectorizer = CountVectorizer()

In [11]:
sample_txt = ["hello, I'm Hoon, I am a data scientist!"]
sample_vectorizer.fit(sample_txt)

CountVectorizer()

In [12]:
print(sample_vectorizer.vocabulary_)

{'hello': 2, 'hoon': 3, 'am': 0, 'data': 1, 'scientist': 4}

In [13]:
sample_txt_2 = ["you are learning data science"]
sample_vector = sample_vectorizer.transform(sample_txt_2)
print(sample_vector.toarray())

[[0 1 0 0 0]]